  <mat-card class="influencer-card" [ngStyle]="{'background-image': 'url(assets/images/avatar_' + influencer.gender + '.png)'}">
  <mat-card-header>
    <!-- <div mat-card-avatar class="influencer-header-image" [ngStyle]="{'background-image': 'url(assets/images/avatar_' + influencer.gender + '.png)'}"></div> -->
    <mat-card-title>{{influencer.name}}</mat-card-title>
    <mat-card-subtitle>{{influencer.lastName}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="{{influencer.name}}"> -->
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <app-edit-button [id]="influencer.id"></app-edit-button>
    <app-delete-button [id]="influencer.id"></app-delete-button>
    <app-detail-button [id]="influencer.id"></app-detail-button>
  </mat-card-actions>
</mat-card>